/*default version*/
@font-face {
  font-family: 'Akademie';
  src: url('../assets/fonts/Akademie/NBAkademieStd.otf') format('opentype');
}
/*Bold version*/
@font-face {
  font-family: 'Akademie';
  src: url('../assets/fonts/Akademie/NBAkademieStd-Bold.otf') format('opentype');
  font-weight: bold;
}


body{
  margin: 0 auto;
  background-color: #D5D3D8;
  color: #666166;
  font-family:'Akademie', sans-serif;
}

.Nav{
  display: flex;
  margin-bottom: 6%;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center; 
  font-size: 1.2em;
}

.Nav p{
  margin:0;
  font-size: 40px;
  }

.Nav a:nth-child(1){
  margin-right: 40%;
  text-decoration-line: line-through;
}

img{
  width: 100%;
}

a{
  color:#666166;
  text-decoration: none;
  padding: 5px;
}

a:hover{
  background-color:#C4C2C7;
  text-decoration: none
}


.Wrapper{
  margin: 0px auto;
  padding: 5%;
  max-width: 75%;
}

.Wrapper h1{
  font-family:'Akademie', sans-serif;
  font-weight: bold;
  font-size: 88px;
  margin: 0px;
}

.Wrapper p{
  margin: 0px;
  font-size: 76px;
}

.Wrapper-Worklist {
  margin: 0 auto;
  max-width: 80%;
}


.FeatureWork{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-feature {
  margin-bottom:6%;
  padding: 0 5%;
  width: 40%;
}

.c-feature p{
font-size: 1.5em;
line-height: 1.4;
}


.Social{
  padding-top: 80px;
  font-size: 16px;
}

@media only screen and (max-width: 650px) {


  html {
    background-color:  #D5D3D8;
  }

  .Wrapper{
    margin: 0px auto;
    max-width: 90%;
    line-height: 1.2;
  }

  .Wrapper h1{
    font-size: 60px;
  }
  
  .Wrapper p{
    font-size: 40px;
  }

  .c-feature {
    margin-bottom:8%;
    padding: 0;
    width: 100%;
  }

}