/*default version*/
@font-face {
  font-family: 'Akademie';
  src: url('../assets/fonts/Akademie/NBAkademieStd.otf') format('opentype');
}
/*Bold version*/
@font-face {
  font-family: 'Akademie';
  src: url('../assets/fonts/Akademie/NBAkademieStd-Bold.otf') format('opentype');
  font-weight: bold;
}


body{
  margin: 0 auto;
  background-color: white;
  color: #161B21;
  font-family:'Akademie', sans-serif;
}

.Nav{
  display: flex;
  margin-bottom: 6%;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center; 
  font-size: 1.2em;
}

.Nav p{
  margin:0;
  font-size: 40px;
  }


.Nav_title a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}


.Nav_list a{
  padding: 15px;
}


img{
  width: 100%;
}


a{
  color:#161B21;
  text-decoration: none;
  padding: 5px;
}


a:hover{
  background-color:greenyellow;
  text-decoration: none
}


.Role{
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

.Role h5{
  font-size: 1em;
  margin: 0 auto;
}

.Wrapper{
  margin: 0px auto;
  padding: 5%;
  max-width: 75%;
}

.Wrapper h1{
  font-family:'Akademie', sans-serif;
  font-weight: bold;
  font-size: 88px;
  margin: 0px;
}

.Wrapper p{
  margin: 0px;
  font-size: 76px;
}

.Wrapper-Worklist {
  margin: 0 auto;
  max-width: 80%;
}

.Wrapper-About {
  margin: 0 auto;
  max-width: 80%;
}


.FeatureWork{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-feature a{
  text-decoration: none;
  padding: 0;
}
.c-feature a:hover{
  text-decoration: none;
  padding: 0;
  background-color: greenyellow;
}


.c-feature {
  margin-bottom:6%;
  padding: 0 5%;
  width: 40%;
}

.c-feature p{
font-size: 1.5em;
line-height: 1.4;
}

.FeatureProject{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.4;
}

.p-feature h2{
  font-family:'Akademie', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 6%, auto;
  font-size: 4em;
}

  .AboutMe h2{
      font-family:'Akademie', sans-serif;
      font-weight: 400;
      text-align: left;
      margin-top: 12%;
      font-size: 4em;
}

.AboutMe p {
    font-size: 1.5em;
    line-height: 1.4;
    width: 60%;
}
  

.p-feature p{
  font-size: 2.2em;
  width: 60%;
  padding-top: 6%;
  }

.UseCase-left{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;

}

.UseCase-image-left{
  margin: 15% 0;
  padding: 0;
  width: 60%;
}

.UseCase-item-left{
  margin-top:6%;
  padding: 0;
  width: 35%;
}

.UseCase-right{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;

}

.UseCase-image-right{
  margin: 15% 0;
  padding: 0;
  width: 60%;
}

.UseCase-item-right{
  margin-top:6%;
  padding: 0;
  width: 35%;
}

.related-articles{
  width: 100%;
  text-align: center;
  padding-bottom: 8%;
}

.related-articles h3{
font-size: 2.5em;
font-weight: 500;
}
.Next {
  background-color: pink;
}

.Social{
  padding-top: 80px;
  font-size: 16px;
}

@media only screen and (max-width: 650px) {

/*
  html {
    background-color:  #D5D3D8;
  }

  */

  .Wrapper{
    margin: 0px auto;
    max-width: 90%;
    line-height: 1.2;
  }

  .Wrapper h1{
    font-size: 60px;
  }
  
  .Wrapper p{
    font-size: 40px;
  }

  .c-feature {
    margin-bottom:8%;
    padding: 0;
    width: 100%;
  }

}