/*default version*/
@font-face {
  font-family: 'Akademie';
  src: url('../assets/fonts/Akademie/NBAkademieStd.otf') format('opentype');
}
/*Bold version*/
@font-face {
  font-family: 'Akademie';
  src: url('../assets/fonts/Akademie/NBAkademieStd-Bold.otf') format('opentype');
  font-weight: bold;
}

html {
  background-color: #D5D3D8;
}

body{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #D5D3D8;
  color: #666166;
  padding-top: 1%;
  font-family:'Akademie', sans-serif;
}

.Wrapper{
  margin: 0px auto;
  padding: 5%;
  max-width: 75%;
}

.Wrapper h1{
  font-family:'Akademie', sans-serif;
  font-weight: bold;
  font-size: 88px;
  margin: 0px;
}

.Wrapper p{
  margin: 0px;
  font-size: 76px;
}

a{
  color:#666166;
  text-decoration: none;
  padding: 5px;
}

a:hover{
  color: white;
  background-color:#666166;
  text-decoration: none
}

.Social{
  padding-top: 80px;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {


  html {
    background-color:  #D5D3D8;
  }

  body {
    padding-top: 10%;
  }

  .Wrapper{
    margin: 0px auto;
    max-width: 90%;
    line-height: 1.2;
  }

  .Wrapper h1{
    font-size: 60px;
  }
  
  .Wrapper p{
    font-size: 40px;
  }
}